body {
   background-color: #faf496;
   font-family: Calibri, Arial, Helvetica, sans-serif;
   color: #000;
}

h1 {
   text-align: center;
   font-size: 42px;
   margin: 20px;
   padding: 0;
}

figure {
   position: relative;
   margin: 0;
   padding: 0;
}

figcaption {
   background-color: rgba(204, 204, 204, 0.75);
   padding: 10px;
   text-transform: uppercase;
   font-weight: bold;
}

#cat1 {
   width: 400px;
   height: 265px;
}

#cat2 {
   width: 400px;
   height: 320px;
   padding-left: 20px;
}

#catContainer {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

#catCounter {
   background-color: #ffdd99;
   height: 91px;
   width: 820px;
   margin: 25px auto 0 auto;
   padding: 40px 0 0 0;
   text-align: center;
   font-size: 36px;
}

.circleCount {
   position: absolute;
   right: 0;
   text-align: center;
   margin: 10px;
   width: 50px;
   height: 50px;
   line-height: 50px;
   border: 2px solid #333;
   background-color: rgba(255, 255, 255, 0.6);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}